<div class="container col-4 mt-5">
<h1>Trait</h1>


<%= @trait.name %>
<p class="mb-3"><%= @trait.description %></p>
<p><%= @trait.price_hour %>€ </p>
<%= link_to "Book Trait", new_trait_reservation_path(@trait), class:'m-3' %>
<!-- link to edit , delete, back to traits list -->
<div class="mt-5">
  <%= link_to "back", traits_path, class:'m-3' %>
  <%= link_to "edit", edit_trait_path(@trait), class:'m-3' %>
  <%= link_to "delete", trait_path(@trait), method: :delete, data: {confirm: "are you sure?"}%>
</div>
</div>
