
<div class="container">
  <h1><%= @trait.name %> <span>by <%= @user.first_name %></span></h1>
  <div class="flex-container-trait">

    <div class="container-trait-description">
      <div>
        <p><%= @trait.description %></p>
      </div>

      <div class="book-trait-button">
        <button type="button" class="btn book-trait btn-lg">
          <%= link_to "Book this trait", new_trait_reservation_path(@trait) %>
        </button>
      </div>
    <!-- link to edit , delete, back to traits list -->
    </div>

      <div class="traits-image">
        <%= image_tag "traitsimage.png" %>
      </div>

  </div>

  <div class="container-fluid">
    <h2>Check other traits</h2>
    <div class="row">
      <% @traits.sample(4).each do |trait| %>
        <div class="col col-md-3">
          <div class="card">
            <img class="card-img-top-4">
            <div class="card-body-4">
              <h5 class="card-title"><%= link_to trait.name, trait_path(trait), class: 'card-link' %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>


