  <div class="trait_user_container">
  <h1><%=current_user.first_name.capitalize%>, your listed traits</h1>
  <div class="rec_yellow"></div>
  <div class="rec_pink"></div>
  <div class="rec_green"></div>
  <div class="circle_black"></div>
  <div class="rec_black"></div>
</div>
<div class="cards flex-column justify-content-between">
  <% current_user.traits.each do |trait| %>
    <div class="card_user_trait mb-4">
      <%= cl_image_tag trait.photo.key%>
      <div class="card_user_trait_infos">
        <div>
          <h2><%= trait.name.capitalize  %></h2>
          <div class="trait_description"><%= trait.description %></div>
          <p>Price p/hour<span> <%= trait.price_hour  %><p>
        </div>
         <div class="d-flex trait_btns">
           <div class="back_yellow_btn ml-5">
            <p>
              <%= link_to "Back", profile_user_index_path %>
            </p>
          </div>
          <div class="edit_green_btn ml-5">
            <%= link_to "Edit",  edit_trait_path(trait) %>
          </div>
          <div class="delete_coral_btn ml-5">
            <%= link_to "Delete", trait_path(trait), method: :delete, data: {confirm: "are you sure?"}%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
