<!DOCTYPE html>
<html>
  <head>
    <title>Quurks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- added font-awesome, bootstrap, google fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

          <!-- shows quurks in navbar when not on the home page -->
          <% if !current_page?(root_path) %>
            <li class="nav-item">
              <%= link_to "Quurks", root_path, class: "nav-link homelink" %>
            </li>
            <% end %>
          <!-- for the rest of the navbar -->
          <!-- if user is logged in -->
          <% if current_user %>
            <!-- Logged in as <%= current_user.email %> -->
              <li class="nav-item dropdown">
                <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "User Profile", profile_user_index_path, class: "dropdown-item" %>
                  <%= link_to "Your Reservations", reservations_user_index_path, class: "dropdown-item" %>
                  <%= link_to "Your Traits", traits_user_index_path, class: "dropdown-item" %>
                </div>
              </li>
              <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Add Trait", new_trait_path, class: "nav-link sign-up"  %>
            </li>
          <% else %>
          <!-- if user isn't logged in -->
            <li class="nav-item dropdown">
              <%= link_to (image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false), profile_user_index_path  %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link sign-up"  %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>


<!-- ADD GEMS -->
